{% extends 'base.html.twig' %}

{% block body %}


    <div class="hero-unit">
        <div class="hero-bg-image">
            <img src="images/banner.jpg">
            <div class="hero-bg-image-frame"></div>
        </div>
    <h1>Pizza shop</h1>
    <p class="hero-subtitle">Vos meilleurs pizzas à portée de click</p>
    </div>


    <div class="container">
        <h1>Nos pizzas</h1>
        {% for pizza in pizzas %}
        <div class="pizza-card">
            <div class="pizza-card-bg-image">
            {% if pizza.imageUrl %}
                    <img src="{{ pizza.imageUrl }}" alt="{{ pizza.name }}">
                    <div class="pizza-card-bg-image-frame"></div>
            {% endif %}
            </div>
            <h3>{{ pizza.name }}</h3>
            <p class="description"> <i>{{ pizza.description }}</i> </p>

            <div class="pizza-card-footer">
                <div class="price">
                    <p>Prix: {{pizza.price}}</p>
                </div>
                <a class="btn" href="{{ path("app_basket_addArticle", {id: pizza.id}) }}">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>Ajouter au panier</span>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}