{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mg-top">
        <h1> Mon Panier</h1>

        {% if app.user.basket.articles|length == 0 %}
            <p>Votre panier est vide!</p>
        {% else %}
            {% for article in app.user.basket.articles %}
                <div class="pizza-card">
                    <div class="pizza-card-bg-image">
                        {% if article.pizza.imageUrl %}
                                <img src="{{ article.pizza.imageUrl }}" alt="{{ article.pizza.name }}">
                                <div class="pizza-card-bg-image-frame"></div>
                        {% endif %}
                    </div>
                    <h3>{{ article.pizza.name }}</h3>
                    <p class="description"> <i>{{ article.pizza.description }}</i> </p>


                    <div class="quantity-container">
                        <a class="btn minus" href="#">
                            <i class="fa-solid fa-square-minus"></i>
                        </a>

                        <p class="quantity">{{ article.quantity }}</p>

                        <a class="btn plus" href="#">
                            <i class="fa-solid fa-square-plus"></i>
                        </a>
                    </div>



                    <div class="pizza-card-footer">
                        <div class="price">
                            <p>Prix: {{article.total}}</p>
                        </div>
                        <a class="btn" href="">
                            <i class="fa-solid fa-trash"></i>
                            <span>Supprimer</span>
                        </a>
                    </div>
                </div>

            {% endfor %}

            <h2> Total: {{ app.user.basket.total }} € </h2>
            <p>
                <a href="#" class="btn"> Commander</a>
            </p>
        {% endif %}
    
    </div>

{% endblock %}